.done {
    background-color: green;
}
.hide {
    display:none;
}
table, tr {
    width: 100%;
    max-width: 500px;
    min-width: 100px;
}

td {
    width: 50%;
}

table, tr, td {
    border-style: solid;
    border-collapse: collapse;
}
